<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="Monopoly.GameField.dll" moduleType="Monopoly.GameField.GameFieldModule, Monopoly.GameField, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Monopoly.GameField" startupLoaded="True" />
    <module assemblyFile="Monopoly.UserField.dll" moduleType="Monopoly.UserField.UserFieldModule, Monopoly.UserField, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Monopoly.UserField" startupLoaded="True" />
    <module assemblyFile="Monopoly.Settings.dll" moduleType="Monopoly.Settings.SettingsModule, Monopoly.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Monopoly.SettingsField" startupLoaded="True" />
  </modules>
</configuration>