<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <module assemblyFile="Monopoly.BaseModel.dll" moduleType="Monopoly.BaseModel.BaseModelModule, Monopoly.BaseModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Monopoly.BaseModel" startupLoaded="True" />
  </modules>
</configuration>